@import url(
    'https://fonts.googleapis.com/css2?family=Redressed&display=swap'
    );
*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color:  #4e4e63;
}

header{
    background-color: #4169e1;
    display: flex;
    height: 15vh;
    justify-content: center;
    align-items: center;
}

#LogoDeCreditValue-header{
    height: 85%;
}

#titulo-header{
    text-align: center;
    margin: .8% ;
    font-size: 1.5vmax;
    padding: 0%;
}
main{
    display: flex;
}
/*SECTION*/
#InfoDeCreditValue-Section{
    width: 50%;
    height: 85vh;
    background-color: #7cfc00;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}
/*BOTONES DE INFORMACIÓN DE LA PAGINA*/

/* PERFIL DE CREDIT VALUE*/
.AlinearBotonesyTexto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}
#btn-PerfilDeCreditValue{
    border: none;
    border-radius: 8%;
}
#img-PerfilDeCreditValue{
    height: 15vh;  
    margin: 5px; 
}
#btn-PerfilDeCreditValue:hover{
    background-color: #97d4d4;
    cursor: pointer;
}
.TextoDelBoton-informacion{
    margin: 5% 0px;
}

/* PROCESOS DE CREDIT VALUE*/
#btn-ProcesoDeCreditValue{
    border: none;
    border-radius: 8%;
    margin-top: 5%;
}
#btn-ProcesoDeCreditValue:hover{
    background-color: #b5e2e2;
    cursor: pointer;
}
#img-ProcesoDeCreditValue{
    height: 15vh;
    margin: 5px;
}
/*ASIDE*/
#ColocarTarjeta-Aside{
    width: 50%;
    height: 85vh;  
    background-color: #20b2aa;  
}
#Pedir-tarjeta{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 28.25vh;
}
#input-ColocarTarjeta{
    height: 2rem;
    padding: 0.5em;
    margin: 2.5% 0px;
    font-size: 1.5rem;
    text-align: center;
}
#btn-ValidarTarjeta{
    width: 15vw;
    height: 1.5em;
    font-size: 1.5rem;
    border: none;
    background-color: rgb(54, 54, 230);
    color: #fff;
    border-radius: 15rem;
}
#btn-ValidarTarjeta:hover{
    background-color: #2b2279;
    cursor: pointer;
}
/*Mostrar pantallas*/
#PantallaTarjetaVerdadera{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10vh;
}
#PantallaTarjetaFalsa{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10vh;
}
.tamañoDeImagenes{
    height: 35vh;
    
}
.estiloDeLetraParaMostrarTarjeta{
    margin-top: 2vh;
    padding: 5%;
    text-align: center;
    font-family: 'Redressed', cursive;
    font-size: 2rem;
}
.regresarAPantallaPedirTarjeta{
    border: none;
    width: 25vw;
    height: 7vh;
    font-size: 5vh;
    border-radius: 8%;
    color: #fff;
    background-color: #139e13;
    font-family: 'Redressed', cursive;
}
.regresarAPantallaPedirTarjeta:hover{
    background-color: #008000;
}
#AnuncioDeError{
    margin-bottom: 2.5%;
}
.EstiloDeTexto{
    text-align: justify;
    margin: 0.3px;
    padding: 0px 20%;
}